<div class="fumbl">
	<p id="notice"><%= notice %></p>

	<h1>
	  <%= @fumbl.title %>
	</h1>

	<div class='body'>
	  	<%= @fumbl.body %>
	</div>

	<div class="body-clone">Test Content</div>
	
	<div class="body-clone-two">Test Content deux</div>

	<div class='box-shadow-example'>
	  <div id='box-shadow-default'></div>
	  <div id='box-shadow-custom'></div>
	  <div id='box-shadow-custom-multiple'></div>
	</div

	<%= link_to 'Edit', edit_fumbl_path(@fumbl) %> |
	<%= link_to 'Back', fumbls_path %>
</div>
